
header{
    color:rgb(10, 99, 182);
    text-align: center;
}

.grade{
    border: 3px solid green;
    padding: 0px 30px 0px;
}

.container{
  display: flex;
  flex-direction: row;
}
#grad {
  background-color: blue;
  background-image: linear-gradient(rgb(0, 162, 255), rgb(80, 218, 75));
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 23%; /* Four links of equal widths */
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }