
header{
    color:rgb(21, 54, 146);
    text-align: center;
}

.grade{
    padding: 0px 30px 0px;
}
.academic h2{
  font-family: cursive;
  font-size:2em;
  text-align: center;
}
.academic{
  color: rgb(19, 41, 102);
  }
.academic div{
  padding: 0px 20px;
  width:50%;
}
.academic dt, .academic dd{
  font-size: 1.2em;
}
.container, .tech, .academic, .end{
  display: flex;
  flex-direction: row;
}

.end a{
  padding: 25px;
}

.tech div{
  width: 33%;
  text-align: center;
}
.tech div ul{
  list-style-type: none;
  padding: 0px;
}
dt{
  font-weight: bold;
}

body{
  background-image: linear-gradient(rgb(0, 162, 255), rgb(80, 218, 75));
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.project h2{
  font-size: 2em;
  text-align: center;
}
.project dd, .project dt{
  list-style-type: none;
  font-size:25px;
}
.project dt{
  text-decoration: underline;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 23%; /* Four links of equal widths */
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

form{
background: rgb(49, 121, 255);
text-align: center;
margin: 0 auto;
padding: 0px 0px 10px 0px;
width: 400px;
border-radius: 10px;
top: 30px;
  }

form textarea{
  padding: 3px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  width: 250px;
}

input[type=submit]{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  font-size: 14px;
 padding: 10px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text], input[type=email]{
  border-radius: 10px;
  border: none;
  width: 240px;
  padding: 5px 5px;
}