
header{
    color:rgb(21, 54, 146);
    text-align: center;
}

.grade{
    border: 3px solid green;
    padding: 0px 30px 0px;
}
.academic h2{
  font-family: cursive;
  font-size:2em;
}

.container, .tech, .academic{
  display: flex;
  flex-direction: row;
}
.tech div{
  width: 33%;
}
dt{
  font-weight: bold;
}
.academic{
color: rgb(14, 54, 165);
}
.academic div{
  width:50%;
}
#grad {
  background-image: linear-gradient(rgb(0, 162, 255), rgb(80, 218, 75));

  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 23%; /* Four links of equal widths */
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

form{
background: rgb(16, 72, 175);
text-align: center;
margin: 0 auto;
width: 400px;
border-radius: 10px;
top: 30px;
  }

form textarea{
  padding: 3px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=submit]{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  font-size: 14px;
 padding: 10px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=text]{
  border-radius: 4px;
  border: none;
}
input[type=email]{
  border-radius: 4px;
  border: none;
}